@use '../abstracts/variables' as *;

.button {
    // Базовые стили для всех кнопок
    display: inline-block;
    border: none;
    border-radius: $border-radius-sm;
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 12px 18px;
}