@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria_light.woff2') format('woff2'),
       url('/fonts/geometria_light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria_bold.woff2') format('woff2'),
       url('/fonts/geometria_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url('/fonts/geometria_medium.woff2') format('woff2'),
       url('/fonts/geometria_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}