@use '../abstracts/variables' as *;

// Миксин для разных начертаний
@mixin font-style($weight: light, $size: base) {
    font-family: 'Geometria', sans-serif;
    
    // Толщина
    @if $weight == light {
        font-weight: $font-weight-light;
    } @else if $weight == medium {
        font-weight: $font-weight-medium;
    } @else if $weight == bold {
        font-weight: $font-weight-bold;
    }
    
    // Размер
    @if $size == xs {
        font-size: $font-size-xs;
    } @else if $size == sm {
        font-size: $font-size-sm;
    } @else if $size == base {
        font-size: $font-size-base;
    } @else if $size == md {
        font-size: $font-size-md;
    } @else if $size == lg {
        font-size: $font-size-lg;
    } @else if $size == xl {
        font-size: $font-size-xl;
    } @else if $size == xxl {
        font-size: $font-size-xxl;
    }
}

// Базовые flex-миксины
@mixin flex($justify: null, $align: null, $direction: null, $wrap: null) {
    display: flex;
    
    @if $justify {
        justify-content: $justify;
    }
    
    @if $align {
        align-items: $align;
    }
    
    @if $direction {
        flex-direction: $direction;
    }
    
    @if $wrap {
        flex-wrap: $wrap;
    }
}

// для кнопки с фоном
@mixin button-fill($bg-color, $hover-color, $text-color: $white) {
    background: $bg-color;
    color: $text-color;
    border: 2px solid $bg-color;
    
    &:hover {
        background: $hover-color;
        border-color: $hover-color;
    }
}

// для заголовка секций
@mixin section-title($color: $dark-primary) {
    text-align: center;
    @include font-style(bold, xxl);
    color: $color;
}

// для описания секции
@mixin section-description($color: $dark-primary){
    color: $color;
    text-align: center;
    @include font-style(light, base);
}

// Миксин для визуально скрытых элементов (доступность)
@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    white-space: nowrap;
}