// Переменные
$gray-primary: #898989;
$dark-primary: #111516;
$white: #FFFFFF;
$blue-accent: #33C5F3;
$turquoise: #1C3D47;
$gradient-top: #0B2E38;
$gradient-center: #354A51;
$gradient-bottom: #314A52;

// размеры шрифтов
$font-size-xs: 12px;    // очень маленький (подписи)
$font-size-sm: 14px;    // маленький (доп. текст)
$font-size-base: 16px;  // основной текст
$font-size-md: 18px;    // чуть больше
$font-size-lg: 24px;    // подзаголовки
$font-size-xl: 32px;    // заголовки
$font-size-xxl: 48px;   // большие заголовки

// толщина шрифта
$font-weight-light: 300;    // Light
$font-weight-medium: 500;   // Medium  
$font-weight-bold: 700;      // Bold

// скругления
$border-radius-ssm: 2px;
$border-radius-sm: 5px;   // маленькое скругление
$border-radius-md: 10px;   // среднее
$border-radius-lg: 15px;  // большое
$border-radius-xxl: 150px;  // большое
$border-radius-circle: 50%;  // круг

// оступы
$gap-xs: 10px;   
$gap-sm: 20px;  
$gap-base: 30px;  
$gap-md: 0px;  
$gap-lg: 0px;    
$gap-xl: 0px;    
$gap-xxl: 80px;  