@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    position: relative;
    z-index: 2;  // хедер выше фона

    &__top{
        background: $white;
        @include flex(space-between,center);
        padding: 10px 0;

        &-row{
            @include flex($align: center);
            column-gap: $gap-xxl;
        }
    }

    &__logo{
        position: relative;

        &::after{
            content: '';
            position: absolute;
            right: -40px; // половина от column-gap (80px)
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 50px;
            background: $blue-accent;
        }
    }

    &__schedule-text{
        color: $gray-primary;
        @include font-style(light, sm);
        line-height: 1;
        @include flex($direction: column);
    }

    &__schedule-line{
        line-height: 1.3;

        &:first-child{
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    &__contacts{
        column-gap: $gap-base;
        @include flex($align: center);

        &-phone{
        color: $gray-primary;
        @include font-style(medium, lg);
        }
    }

    &__bottom{
        background: transparent;
        padding: 25px 0;
    }

    &__nav-list{
        @include flex(space-between, center);
    }

    &__nav-link{
        color: $white;
        @include font-style(light, sm);

        &:hover {
            color: $white-hover;
        }
    }

    &__contacts-button {
        @include button-fill($blue-accent, $blue-hover);
    }
}