@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;

.installment {
    padding: 70px 0;
    background-color: $white;
    
    &__description {
        @include section-description($gray-dark);
    }
    &__title {
        @include section-title($dark-primary);
    }
    &__hint {
        @include font-style(light, lg);
        color: $dark-primary;
        text-align: center;
    }
    &__card{
        text-align: center;
        
        &-holder{
        @include flex(space-between, center);
        margin: 30px 0 50px 0;
        line-height: 1;
        }
        
        &-title{
            @include font-style(bold, xxxl);
            color: $blue-accent;
            margin-bottom: 10px;
        }
        &-description{
            @include font-style(bold, lg);
        }
        
    }
    &__calculator{
        &-row{
            @extend %calculator-row;
            justify-content: center;
        }
        &-input{
            @extend %calculator-input;
            border-color: $gray-dark;

            &::placeholder {
                color: $gray-dark;
                font-size: $font-size-base;
            }
        }
        &-agreement{
            &__label{
                @extend %agreement-label;
                justify-content: center;
            }
            &__checkbox{
                @extend %agreement-checkbox-hidden;
                
                & + span {
                    color: $gray-dark;
                    
                    &::before {
                        border-color: $gray-dark;
                    }
                }

                &:checked + span::after {
                    border-color: $gray-dark;
                }
            }
        }
    }
    &__calculator-button{
        @include button-fill($blue-accent, $blue-hover);
    }
}