@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;

.installment {
    @include flex($direction: column, $align: center);
    padding: 70px 0;
    background-color: $white;
    
    &__description {
        @include section-description($gray-dark);
    }
    &__title {
        @include section-title($dark-primary);
    }
    &__hint {
        @include font-style(light, lg);
        color: $dark-primary;
    }
    &__calculator{
        &-row{
            @extend %calculator-row;
            justify-content: center;
        }
        &-input{
            @extend %calculator-input;
            border-color: $gray-dark;

            &::placeholder {
                color: $gray-dark;
                font-size: $font-size-base;
            }
        }
        &-agreement{
            &__label{
                @extend %agreement-label;
                justify-content: center;
            }
            &__checkbox{
                @extend %agreement-checkbox-hidden;
                
                & + span {
                    color: $gray-dark;
                    
                    &::before {
                        border-color: $gray-dark;
                    }
                }

                &:checked + span::after {
                    border-color: $gray-dark;
                }
            }
        }
    }
    &__calculator-button{
        @include button-fill($blue-accent, $blue-hover);
    }
}