@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;

.main {
    padding: 50px 0 150px 0;
    position: relative;  // для позиционирования псевдоэлемента

    // Фоновое изображение
    &::before {
        content: '';
        position: absolute;
        top: -70px;  // поднимаем выше, чтобы зайти под header__bottom
        left: 0;
        width: 100%;
        height: calc(100% + 100px);  // увеличиваем высоту
        background-image: url('/public/images/content/main-background.jpg');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: -70px; 
        left: 0;
        width: 100%;
        height: calc(100% + 100px);
        background: linear-gradient(
            to bottom,
            rgba($dark-primary, 0.76) 0%,      
            rgba($dark-primary, 0.28) 50%,    
            rgba($dark-primary, 0.56) 100%     
        );
        pointer-events: none;
        z-index: -1; 
    }

    &__content{
        @include flex(space-between, center);
    }
    &__subtitle{
        color: $blue-accent;
        @include font-style(light, base);
    }

    &__title{
        color: $white;
        @include font-style(bold, xxl);
        max-width: 550px;
        margin: 10px 0 40px 0;

        &-price{
            display: block;
            color: $blue-accent;
        }
    }

    &__description{
        color: $white;
        @include font-style(light, base);
    }

    &__calculator{

        &-row{
            @extend %calculator-row;
        }

        &-input{
            @extend %calculator-input;
        }
    }

    &__agreement{
        &-label{
            @extend %agreement-label;
        }

        // Прячем стандартный чекбокс
        &-checkbox{
            @extend %agreement-checkbox-hidden;
            }
        }

    &__gift{
        @include flex($align:center);
        column-gap: $gap-xs;
        margin-top: 40px;
        
        &-text{
            color: $white;
            @include font-style(medium, base);
        }
    }

    &__cards{
        background: rgba($turquoise, 0.3);
        border-radius: $border-radius-xxl;
        padding: 55px 70px;
        row-gap: $gap-base;
        display: grid;
    }

    &__card{
        @extend %card;

        &-text{
            @extend %card-text;
        }
    }

    &__calculator-button{
        @include button-fill($blue-accent, $blue-hover);
    }
}