@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.main {
    padding: 50px 0 150px 0;
    position: relative;  // для позиционирования псевдоэлемента

    // Фоновое изображение
    &::before {
        content: '';
        position: absolute;
        top: -70px;  // поднимаем выше, чтобы зайти под header__bottom
        left: 0;
        width: 100%;
        height: calc(100% + 100px);  // увеличиваем высоту
        background-image: url('/public/images/content/main-background.jpg');
        background-size: cover;
        background-position: center;
        pointer-events: none;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: -70px; 
        left: 0;
        width: 100%;
        height: calc(100% + 100px);
        background: linear-gradient(
            to bottom,
            rgba($dark-primary, 0.76) 0%,      
            rgba($dark-primary, 0.28) 50%,    
            rgba($dark-primary, 0.56) 100%     
        );
        pointer-events: none;
        z-index: -1; 
    }

    &__content{
        @include flex(space-between, center);
    }
    &__subtitle{
        color: $blue-accent;
        @include font-style(light, base);
    }

    &__title{
        color: $white;
        @include font-style(bold, xxl);
        max-width: 550px;
        margin: 10px 0 40px 0;

        &-price{
            display: block;
            color: $blue-accent;
        }
    }

    &__description{
        color: $white;
        @include font-style(light, base);
    }

    &__calculator{

        &-row{
            display: flex;
            column-gap: $gap-sm;
            margin: 34px 0 17px 0;
        }

        &-input{
            background: none;
            border: 2px solid $white;
            border-radius: $border-radius-sm;    
            height: 50px;              
            width: 180px;             
            color: $white;  
            text-align: center;  
            cursor: pointer;
            
            &::placeholder {
                color: $white;
                font-size: $font-size-base;
            }
    
            &:focus {
                outline: none;
                border-color: $blue-accent; 
            }
        }
    }

    &__agreement{
        &-label{
            @include flex($align:center);
            margin-bottom: 40px;
            cursor: pointer;
            position: relative;
        }

        // Прячем стандартный чекбокс
        &-checkbox{
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
            
            // Стили для кастомного чекбокса
            & + span {
                position: relative;
                padding-left: 30px;  // место для кастомного чекбокса
                color: $white;
                @include font-style(light, xs);
                
                // Кастомный чекбокс
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 12px;
                    height: 12px;
                    border: 1px solid $white;
                    background: transparent;  // прозрачный фон
                    border-radius: $border-radius-ssm;       // небольшое скругление
                }
            }
            
            // Стили для отмеченного чекбокса
            &:checked + span::before {
                background: transparent;  // фон остается прозрачным
            }
            
            // Белая галочка
            &:checked + span::after {
                content: '';
                position: absolute;
                left: 5px;          // позиция галочки
                top: 7.5px;
                transform: translateY(-50%) rotate(45deg);
                width: 3px;
                height: 6px;
                border: solid $white;
                border-width: 0 2px 2px 0;
            }
        }
    }

    &__gift{
        @include flex($align:center);
        column-gap: $gap-xs;

        &-text{
            color: $white;
            @include font-style(medium, base);
        }
    }

    &__cards{
        background: rgba($turquoise, 0.3);
        border-radius: $border-radius-xxl;
        padding: 55px 70px;
        row-gap: $gap-base;
        display: grid;
    }

    &__card{
        text-align: center;
        row-gap: $gap-xs;
        text-align: center;

        &-text{
            color: $white;
            @include font-style(light, base);
            max-width: 125px;
            text-align: center;
        }
    }
}